.searchPage__header{
    display: flex;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    align-items: flex-start;
    padding: 30px;
    border-bottom: 1px solid lightgray;
    height: 100px;
}

.searchPage__logo{
    object-fit: contain;
    height: 50px;
    margin-right: 50px;
}

.searchPage__headerBody >.search > .search__input{
    margin-top: 0 ;
    width: 40vw ;
    margin: unset ;
    max-width: unset ;
}

.searchPage__optionsLeft{
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchPage__result{
    margin: 40px 0;
}

.searchPage__resultCount{
    color: #70757a;
    font-size: 14px;
}

.searchPage__results{
    max-width: 400px;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 100px;
}

.searchPage__resultTitle{
    text-decoration: none;
}

.searchPage__resultTitle:hover{
    text-decoration: underline;
}

.itislink{
    color: #0193fb
    ;
}
.searchPage__resultTitle>h2{
    font-weight: 400;
    color: #2d2d2d;
}

.searchPage__resultImage{
    object-fit: contain;
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.searchPage__resultSnippet{
    margin-top: 10px;
}